# SourceControlGenerator #
##########################
SourceControlGenerator.json

# Levels
######################
#Mods/EmperorDryad_5d1d4b0a-fb46-025c-f128-7495d55882c4/Levels/*
#Mods/EmperorDryad_5d1d4b0a-fb46-025c-f128-7495d55882c4/Globals/*
#Editor/Mods/EmperorDryad_5d1d4b0a-fb46-025c-f128-7495d55882c4/Levels/*

# Story files        #
######################
*.div
*.raw
story_orphanqueries_ignore.txt
Mods/EmperorDryad_5d1d4b0a-fb46-025c-f128-7495d55882c4/Story/Dialogs/Autosave/*
Mods/EmperorDryad_5d1d4b0a-fb46-025c-f128-7495d55882c4/Story/Dialogs/Recovered/*

# Asset Folders      #
######################
#Public/EmperorDryad_5d1d4b0a-fb46-025c-f128-7495d55882c4/Assets/*
#Public/EmperorDryad_5d1d4b0a-fb46-025c-f128-7495d55882c4/GUI/*

# Editor files       #
######################
RootTemplateSelectorConfig_*
ResourceSelectorConfig_*
StatsEditorConfig.xml
EffectEditorConfig.xml
DockPanel.config
EditorBrowserMetadata_*
EditorBrowserMetadata.xml
Autosave/*
Recovered/*
ReConHistory.txt
story.debugInfo

# Assets             #
######################
#*.gr2
#*.dae
#*.swf
#*.bullet
#*.dds
#*.tga
#*.png
#*.ttf
#*.lsb
#*.lsf
#*.lsfx
#*.lsefx
#*.lsx
#*.lsmg

# Logs               #
######################
*.log
*.ailog
log.txt
errors.txt
dialoglog.txt
personallog.txt

# Binary Files       #
######################
#*.dat
#*.data
#*.bik
#*.bnk
#*.bshd
#*.cur
#*.fnt
#*.iggy
#*.iggytex
#*.osi
#*.patch
#*.tmpl

# Dump files         #
######################
*.stackdump
*.dmp

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# VS Code #
############
launch.json

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.lnk

